body {
    text-align: center;
background: linear-gradient( #4287f5 0%,#4bf542 100%);


}

img {
    border-radius: 50%;
    width: 100px;
}

.menu {
    list-style: none;
    font-family: fantasy;
    float: right;
    top: 10px;
    margin-right: 30px;
    cursor: pointer;
    color: black;


}

.links {
    color: crimson;
    display: inline;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
}
#welcome{
 padding: 70px;   
    
    
}



